
.margin-left{
    margin-left: 5px;
}

.margin-bottom{
    margin-bottom: 5px;
}
.margin-right1{
    margin-right: 22px;
}

.margin-right2{
    margin-right: 24px;
}

.margin-right3{
    margin-right: 10px;
}